.navbar {
  position: fixed;
  background-color: var(--bg-secondary);
  transition: width 600ms ease;
  width: 4rem;
  height: 100vh;
  transition: width 200ms ease, background 250ms ease-in-out,
    color 500ms ease-in-out;
}

.navbar:hover {
  width: 16rem;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
}

.link-text {
  white-space: nowrap;
  display: none;
  margin-left: 0.75rem;
  font-size: 0.8rem;
  color: var(--icon-primary);
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1rem;
  color: var(--icon-primary);
}

.nav-link:hover svg,
.nav-link:hover span {
  color: var(--text-primary);
}

.nav-switch {
  min-width: 2rem;
  margin: 0 1.25rem;
  color: var(--icon-primary);
}

.nav-frm-control-label {
  color: var(--text-secondary);
  display: none;
}
