.draggable-state {
  width: 3rem;
  height: 3rem;
  background: var(--state-draggable-primary);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.draggable-state label {
  font-weight: bold;
  color: var(--state-draggable-text-primary);
}
