@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;900&display=swap");

* {
  margin: 0;
  padding: 0;
  --text-dark-primary: #ffd369;
  --text-dark-secondary: #8f8d89;
  --bg-dark-primary: #18191a;
  --bg-dark-secondary: #242526;
  --bg-dark-trinary: #3a3b3c;
  --icon-dark-primary: #a9afaf;
  --state-draggable-dark-primary: #6b6b6b;
  --state-draggable-dark-text-primary: #c5c5c5;

  --text-light-primary: #927739;
  --text-light-secondary: #686560;
  --bg-light-primary: #ffffff;
  --bg-light-secondary: #bdbdbd;
  --bg-light-trinary: #868686;
  --icon-light-primary: #646464;
  --state-draggable-light-primary: #d8d8d8;
  --state-draggable-light-text-primary: #464646;
}

.light-theme {
  --text-primary: var(--text-light-primary);
  --text-secondary: var(--text-light-secondary);
  --bg-primary: var(--bg-light-primary);
  --bg-secondary: var(--bg-light-secondary);
  --bg-trinary: var(--bg-light-trinary);
  --icon-primary: var(--icon-light-primary);
  --shadow-primary: var(--bg-dark-secondary);
  --state-draggable-primary: var(--state-draggable-light-primary);
  --state-draggable-text-primary: var(--state-draggable-light-text-primary);
}

.dark-theme {
  --text-primary: var(--text-dark-primary);
  --text-secondary: var(--text-dark-secondary);
  --bg-primary: var(--bg-dark-primary);
  --bg-secondary: var(--bg-dark-secondary);
  --bg-trinary: var(--bg-dark-trinary);
  --icon-primary: var(--icon-dark-primary);
  --shadow-primary: var(--bg-light-secondary);
  --state-draggable-primary: var(--state-draggable-dark-primary);
  --state-draggable-text-primary: var(--state-draggable-dark-text-primary);
}

:root {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  color: var(--bg-secondary);
  background-color: var(--bg-primary);
  transition: background 250ms ease-in-out, color 500ms ease-in-out;
}

:root::-webkit-scrollbar {
  width: 0.75rem;
}

:root::-webkit-scrollbar-track {
  background: var(--bg-trinary);
}

:root::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
}

.App {
  transition: background 250ms ease-in-out, color 500ms ease-in-out;
}
